body {
  background-color: #424242;
}

.panel {
  background-color: #212121;
}

.panel>h1 {
  color: #F5F5F5;
}

.panel>span {
  color: #F5F5F5;
  background-color: #1c1c1c;
}

.panel>span:hover, .panel>span:focus {
  color: #F5F5F5;
  background-color: #212121;
}

.panel>ul>li {
  background-color: #212121;
}

.panel>ul>li>a {
  color: #F5F5F5;
}

.panel>ul>li>a:hover, .panel>ul>li>a:focus {
  color: #EEEEEE;
}

.bookmark {
  background-color: #795548;
}

.closed-tabs {
  background-color: #263238;
}

.history {
  background-color: #004D40;
}

.closed {
  background-color: #333333;
}

.closed>h1 {
  color: #676767;
}
