body {
  background-color: #2196F3;
}

.panel {
  background-color: #F5F5F5;
}

.panel>h1 {
  color: #1c1c1c;
}

.panel>ul>li {
  background-color: #FAFAFA;
}

.panel>ul>li>a {
  color: #424242;
}

.panel>ul>li>a:hover, .panel>ul>li>a:focus {
  color: #212121;
}

.bookmark {
  background-color: #FFECB3;
}

.closed-tabs {
  background-color: #CFD8DC;
}

.history {
  background-color: #C8E6C9;
}
